@model CreateTVSeriesVM
@{
    ViewData["Title"] = "Add TV Series";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var actors = new SelectList(ViewBag.Actors, "ActorId", "FullName");
    var categories = new SelectList(ViewBag.Categories, "CategoryId", "CategoryName");
    int numberOfEpisodies = 10;
}


<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Add TV Series</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form asp-action="Create" asp-controller="TVSeries" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img">
                                        <label for="form__img-upload">Upload Poster (190 x 270)</label>
                                        <input id="form__img-upload" asp-for="@Model.ThumbnailImage" type="file" accept=".png, .jpg, .jpeg">
                                        <span asp-validation-for="@Model.ThumbnailImage" class="text-danger"></span>
                                        <img id="form__img" src="#" alt=" ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 form__content">
                            <div class="row">
                                <div class="col-8">
                                    <div class="form__group">
                                        <input type="text" asp-for="@Model.Title" class="form__input" placeholder="Title">
                                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                                    </div>


                                </div>

                                <div class="col-4">
                                    <div class="form__group">

                                        <div class="form__gallery">
                                            <label id="gallery1" for="form__gallery-upload">Upload Cover</label>
                                            <input data-name="#gallery1"
                                                   id="form__gallery-upload"
                                                   asp-for="@Model.CoverImage"
                                                   class="form__gallery-upload"
                                                   type="file"
                                                   accept=".png, .jpg, .jpeg"
                                                   multiple />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form__group">
                                        <textarea id="text" asp-for="@Model.Description" class="form__textarea" placeholder="Description"></textarea>
                                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <input type="text" asp-for="@Model.ReleasYear" class="form__input" placeholder="Release year">
                                        <span asp-validation-for="@Model.ReleasYear" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <select class="js-example-basic-single" asp-for="@Model.Quality" id="quality">
                                            <option value="FullHD">FullHD</option>
                                            <option value="HD">HD</option>
                                        </select>
                                        <span asp-validation-for="@Model.Quality" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <input type="text" asp-for="@Model.AgeRating" class="form__input" placeholder="Age">
                                        <span asp-validation-for="@Model.AgeRating" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form__group">
                                        <input type="number" asp-for="@numberOfEpisodies" class="form__input episodies__num" placeholder="Num Of Episodies">
                                        <span asp-validation-for="@numberOfEpisodies" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <select class="js-example-basic-multiple" asp-for="@Model.CountryOfOrigin" id="country" multiple="multiple">
                                            <option value="Egypt">Egypt</option>
                                        </select>
                                        <span asp-validation-for="@Model.CountryOfOrigin" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <select class="js-example-basic-multiple" asp-for="@Model.CategoriesIDs" asp-items="categories" id="genre" multiple="multiple">
                                            <span asp-validation-for="@Model.CategoriesIDs" class="text-danger"></span>

                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form__group">
                                        <input type="text" asp-for="@Model.DirectorName" class="form__input" placeholder="Director">
                                        <span asp-validation-for="@Model.DirectorName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-8">
                                    <div class="form__group">
                                        <select class="js-example-basic-multiple" asp-for="@Model.ActorIDs" asp-items="actors" id="actor" multiple="multiple">
                                        </select>
                                        <span asp-validation-for="@Model.ActorIDs" class="text-danger"></span>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    @*          <div class="col-12">
                    <div class="row">

                    <div class="col-12 col-lg-6">
                    <div class="form__video">
                    <label id="movie1" for="form__video-upload">Upload Episode 1</label>
                    <input data-name="#movie1" id="form__video-upload" asp-for="@Model.Episodes" class="form__video-upload" type="file">
                    <span asp-validation-for="@Model.Episodes[0]" class="text-danger"></span>
                    </div>
                    </div>

                    <div class="col-12 col-lg-6">
                    <div class="form__group form__group--link">
                    <input type="text" class="form__input" placeholder="or add a link">
                    </div>
                    </div>


                    </div>
                    </div> *@
                    <!-- tv series -->
                    <div class="col-12">
                        <div class="">
                            <!-- season -->
                            <div class="Season__Episodiess1">

                                <br />
                                 <div id="episodesContainer">
                                <!-- Episode upload fields will be inserted here -->
                                </div>

                            </div>
                            <!-- end season -->
                        </div>
                        <div class="col-12">
                            <button type="submit" class="form__btn">Publish</button>
                        </div>
                    </div>
                    <!-- end tv series -->
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>


