@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="ResetPassword" asp-controller="Account" class="sign__form">
    <input type="hidden" asp-for="@Model.Email">
    <input type="hidden" asp-for="@Model.Token">

    <div class="sign__group">
        <input type="password" asp-for="@Model.Password" class="sign__input" placeholder="Password">
        <span asp-validation-for="@Model.Password" class="text-danger"> </span>

    </div>
    <div class="sign__group">
        <input type="password" asp-for="@Model.ConfirmPassword" class="sign__input" placeholder="Confirm Password">
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"> </span>

    </div>
    <input type="submit" name="Send" class="sign__btn" />

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}