@model RegisterViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="SignUp" class="sign__form">

    <div class="sign__group">
        <input type="text" asp-for="@Model.Name" class="sign__input" placeholder="Username">
        <span asp-validation-for="@Model.Name" class="text-danger"> </span>
    </div>

    <div class="sign__group">
        <input type="email" asp-for="@Model.Email" class="sign__input" placeholder="Email">
        <span asp-validation-for="@Model.Email" class="text-danger"> </span>

    </div>

    <div class="sign__group">
        <input type="password" asp-for="@Model.Password" class="sign__input" placeholder="Password">
        <span asp-validation-for="@Model.Password" class="text-danger"> </span>
    </div>
    <div class="sign__group">
        <input type="password" asp-for="@Model.ConfirmPassword" class="sign__input" placeholder="Confirm Password">
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"> </span>

    </div>

    <div class="form-check sign__group text-light">
        <input type="checkbox" class="form-check-input" asp-for="@Model.IsAgreed">
        <label class="form-check-label" asp-for="@Model.IsAgreed">Agree</label>
    </div>
    <input type="submit" class="sign__btn" value="SignUp" />

    <span class="sign__text">Already have an account? <a asp-controller="Account" asp-action="Login">Log in!</a></span>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}

